<nav>
  <a href='/main'><img src='/img/home.png' class='navImg' /></a>
  <a href='/news'><img src='/img/news.png' class='navImg' /></a>
  <a href='/shelters/around'><img src='/img/search.png' class='navImg' /></a>
  <a href='/chat/live-chat'><img src='/img/chat.png' class='navImg' /></a>
  <a href='/posts'><img src='/img/dangun.png' class='navImg' /></a>
  <a href='/users/myinfo'><img src='/img/user.png' class='navImg' /></a>
</nav>