<nav>
  <a href='/main'><img src='/img/home.png' class='navImg' /></a>
  <a href=''><img src='/img/search.png' class='navImg' /></a>
  <a href=''><img src='/img/chat.png' class='navImg' /></a>
  <a href=''><img src='/img/dangun.png' class='navImg' /></a>
  <a href='/users/{{id}}'><img src='/img/user.png' class='navImg' /></a>
</nav>