.rooms {
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  margin: 5px 0 5px 0;
  border-radius: 5px;
  padding: 10px;
  overflow: auto;
  height: 600px;
}

.room {
  border-bottom: 1px solid #ccc;
  padding: 20px;
}

.msg-container {
  text-align: left;
  margin-left: 100px;
  margin-top: 6px;
}

.user-profile {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
  float: left !important;
}

.user-nickname {
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  margin: 0;
}

.message {
  cursor: pointer;
  margin: 5px 0;
}

.sentAt {
  font-size: 0.8em;
  color: #999;
}
