<link rel="stylesheet" href="/style/dm.css">

<div class='dm'>
  <div class="targetInfo">
  </div>
  <div class='messages'>
    <button class='moreBtn'>more</button>
  </div>
  <div class='message-form'>
    <form id='message-form' id='user-input'>
      <div class='col-sm-12'>
        <input id='user-message' type='text' placeholder='메세지를 입력하세요.' />
      </div>
    </form>
  </div>
</div>

<script src='/socket.io/socket.io.js'></script>
<script src='/js/dm/direct-message.js'></script>