<main id='rescueRequestMainContainer'>
  <div id='rescueRequestContainer'>
    <div id="loadingcontainer">
      <div id='helperInfo'>
        {{distance}}m 이내에
        <br />
        {{username}}님이 구조요청을 보냈습니다.
      </div>
      <div>
        메세지: {{message}}
      </div>
      <button id="acceptBtn">수락</button>
      <button><a href="/main">거절</a></button>
      <input type="hidden" id="username" name="username" value="{{username}}">
    </div>
  </div>
</main>

<script src="/js/helperLocation.js"></script>