<main id='rescueRequestMainContainer'>
  <div id='rescueRequestContainer'>
    <div id='matchInfo'>

      {{distance}}km에 있는
      <br />
      {{helperName}}님이
      <br />
      구조 요청을 수락하였습니다.
    </div>
    <div>
      구조 메세지 : {{message}}
    </div>
  </div>

</main>