<main id='rescueRequestMainContainer'>
  <div id='rescueRequestContainer'>
    <div id="loadingcontainer">
      <div class="loading-container">
        <div class="loading"></div>
        <div id="loading-text">loading</div>
      </div>
      <div id="loadingText">
        요청 수락 대기중 <br />
        잠시만 기다려주세요
      </div>
    </div>
  </div>
</main>