<link rel="stylesheet" href="/style/news.css">

<main>
  <h2>News</h2>
  <div class="news">
    <table class="newsTable">
      <tr>
        <th>제목</th>
        <th>발행날짜</th>
      </tr>
      {{#each news}}
      <tr class="newsInfo">
        <td><a href="{{url}}">{{title}}</a></td>
        <td>{{created_at}}</td>
      </tr>
      {{/each}}
    </table>
  </div>
</main>

<script src="/js/news.js"></script>