{{!--
<script src="https://www.gstatic.com/firebasejs/8.2.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.0/firebase-messaging.js"></script>
<h1>FCM 알림 전송 테스트</h1>
<button id="permissionBtn">알림 허용하기</button>
<h1>위치 정보 활용 동의</h1>
<button id="permissionBtn1">활용 동의</button>
<script src="/js/client.js"></script> --}}